@font-face {
    font-family: 'Mulish Medium';
    src: url(shrifts/Mulish-Medium.ttf);
}
@font-face {
    font-family: 'Mulish-Bold';
    src: url(shrifts/Mulish-Bold.ttf);
}
@font-face {
    font-family: 'Mulish Regular';
    src: url(shrifts/Mulish-Regular.ttf);
}
@font-face {
    font-family: 'Mulish ExtraBold';
    src: url(shrifts/Poppins-ExtraBold.ttf);
}

:root{
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
}

body{
    font-family: 'Mulish Medium';
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    height: 80px;
}

.reloadbutton{
    padding-left: 302px;
    padding-top: 14px;
}

nav {
    margin-right: 16px;
}

/* MAIN */

body main{
    display: flex;
    flex-direction: column;
}


/************************/
.glavna{
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    height: 100%;
    background: 
        url(metallokonstruk.jpg);
    background-size: 100% 100%;
    color: #fff;
    height: 820px;
}

.photo{
    display:flex;
    padding-left: 302px;
    padding-top: 230px;
    height: 260px;
}

h1 {
    font-size: 2.5rem;
    padding-left: 15px;
    width: 623px;

}
/************************/

.otrasl{
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    height: 580px;
}

.h5{
    color: #464646;
    padding-left: 302px;
    padding-top: 80px;
    font-size: 2.125rem;
}

.otrsl_2{
    padding-left: 302px;
    padding-top: 104px;
    display:flex;
    flex-direction: row;
}

.btn{
    color: #464646; /* цвет текста */
    background: #f0f0f0; /* фон кнопки */
    /*padding: .7em 1.5em; /* отступ от текста */
    height: 59px;
    border: 1.5px solid #464646;
    font-size: 1.375rem;
} 
.btn:hover { background: #464646; color: #f0f0f0;} /* при наведении курсора мышки */
/*a.knopka:active { } при нажатии */

.btnp{
    padding-top: 192px;
    padding-left: 534.5px;
}
.btnp1{
    text-align: center;
    border: #f0f0f0;  
    font-size: 1.25rem;
    height: 20px;
    width: 247px; 
}

/************************/

.sec3{
    height: 1152px;
}

.img_sec3{
    padding-left: 302px;
    height: 892px;
    width: 1316px;
    display: flex;
    flex-wrap: wrap;
}
.sec3_img{
    width: 412px;
}
.sec3_img img{
    height: 260px;
    width: 412px;
}

.btnp2{
    padding-left: 99px;
    max-width: 142px;
    max-height: 16px;
    
}

.btn2{
    border-color: #fff;
    background-color: #fff;
}

/**************************/
.block4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    max-height: 322px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #d8d8d8;    
    color: #eb8329;
    text-align: center;
}

.h2{
    text-align: center;
    
}

.bl4{    
    padding-left: 45px;
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 340px;
    max-height: 62px;
}

.dol{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.twocol{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 45px;
}

.firstcolumn, .secondcolumn{
    width: 140px; /* Фиксированная ширина прямоугольника */
    height: 140px; /* Фиксированная высота прямоугольника */
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstcolumn + .secondcolumn {
    margin-left: 60px;
    margin-bottom: 20px;
}
.firstcolumn img, .secondcolumn img{
    padding-right: 60px;
    padding-left: 60px;
}

.section_6{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #464646;
    color: #fff;
    
}

.zavka{
    display:block;
    background:#fff;
    max-width: 340px; 
    color: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer{    
    color: #fff;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #1a1a1a;
}
footer a{
    color: #fff;
}

.f1, .f2, .f3{
    padding-left: 45px;
    text-align: left;
}
