:root{
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

nav {
    margin-right: 16px;
}


body{
    font-family: 'Gilroy';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.glavna{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-height: 426px;
    background: 
        url(metallokonstruk.jpg);
    background-size: 200% 100%;
    background-position: -190px;
    color: #fff;
}

.photo{
    display:flex;
    padding-left: 45px;
    padding-top: 80px;
    padding-bottom: 160px;
}

.ph2{
    padding-left: 15px;
    max-height: 186px;
    max-width: 325px;
}

.otrasl{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #f0f0f0;
}

.h5{
    color: #464646;
    padding-left: 45px;
    font-size: 24px;
    padding-top: 50px;
}

.otrsl_2{
    margin-left: 45px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 264px;
    max-height: 232px;
}

.btn{
    color: #464646; /* цвет текста */
    background: #f0f0f0; /* фон кнопки */
    /*padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    height: 43px;
    border: 2px solid #464646;
} 
.btn:hover { background: #464646; color: #f0f0f0;} /* при наведении курсора мышки */
/*a.knopka:active { } при нажатии */

.btnp{
    padding-top: 60px;
    padding-left: 113px;
    text-align: center;
}

.sec3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

.sec3_img{
    padding-left: 45px;
    max-width: 340px;
}

.imge{
    width: 340px;
    height: 215px;

}

.btnp2{
    padding-left: 99px;
    max-width: 142px;
    max-height: 16px;
    
}

.btn2{
    border-color: #fff;
    background-color: #fff;
}

.block4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    max-height: 322px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #d8d8d8;    
    color: #eb8329;
    text-align: center;
}

.h2{
    text-align: center;
    
}

.bl4{    
    padding-left: 45px;
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 340px;
    max-height: 62px;
}

.dol{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.twocol{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 45px;
}

.firstcolumn, .secondcolumn{
    width: 140px; /* Фиксированная ширина прямоугольника */
    height: 140px; /* Фиксированная высота прямоугольника */
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstcolumn + .secondcolumn {
    margin-left: 60px;
    margin-bottom: 20px;
}
.firstcolumn img, .secondcolumn img{
    padding-right: 60px;
    padding-left: 60px;
}

.section_6{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #464646;
    color: #fff;
    
}

.zavka{
    display:block;
    background:#464646;   
}

form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer{    
    color: #fff;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #1a1a1a;
}
footer a{
    color: #fff;
}

.f1, .f2, .f3{
    padding-left: 45px;
    text-align: left;
}
